/*--①レイアウトを構成する［初級］--*/
.boxWrap1 {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.boxblock1 {
  width: 200px;
  height: 100%;
  float: left;
}
.box1 {
  background: red;
  width: 100%;
  height: 500px;
}
.box2 {
  background: yellow;
  width: 100%;
  height: 100px;
}
.boxblock2 {
  width: 200px;
  height: 100%;
  float: left;
}
.box3 {
  background: blue;
  width: 100%;
  height: 200px;
}
.box4 {
  background: green;
  width: 100%;
  height: 400px;
}
.boxblock3 {
  width: 200px;
  height: 100%;
  float: left;
}
.box5 {
  background: black;
  width: 100%;
  height: 300px;
}
.box6 {
  background: pink;
  width: 100%;
  height: 300px;
}

/*--②レイアウトを構成する［中級］--*/
.boxWrap2 {
  width: 600px;
  height: 900px;
  margin: 0 auto;
}
.box7 {
  width: 100%;
  height: 100px;
  background: blue;
}
.ul1_Block {
  width: 100%;
  height: 100px;
}
.ul1 {
  margin: 0;
  padding: 0;
}
.ul1 li {
  list-style: none;
  width: 100px;
  height: 100px;
  float: left;
}
.ul1 li:nth-of-type(odd) {
  background: gray;
}
.ul1 li:nth-of-type(even) {
  background: pink;
}
.box8 {
  width: 400px;
  height: 600px;
  background: skyblue;
  float: left;
}
.sideWrap1 {
  width: 200px;
  height: 600px;
  float: left;
}
.side1 {
  width: 100%;
  height: 200px;
  background: yellow;
}
.side2 {
  width: 100%;
  height: 200px;
  background: orange;
}
.side3 {
  width: 100%;
  height: 200px;
  background: red;
}
.box9 {
  width: 100%;
  height: 100px;
  background: lime;
  clear:both;
}

/*--③レイアウトを構成する［上級］--*/
.boxWrap3 {
  width: 100%;
  height: 900px;
}
.ul2_Block {
  width: 100%;
  height: 100px;
}
.ul2 {
  margin: 0;
  padding: 0;
}
.ul2 li {
  width: 20%;
  height: 100px;
  list-style: none;
  float: left;
}
.ul2 li:nth-of-type(odd) {
  background: skyblue;
}
.ul2 li:nth-of-type(even) {
  background: blue;
}
.box1011Wrap {
  width: 100%;
  height: 300px;
  background: gray;
  position: relative;
}
.box1011Wrap::after {
  content: ""
}
.box10 {
  width: 100px;
  height: 100px;
  background: red;
  float: left;
  position: absolute;
  top: 30%;
  left: 20%;
}
.box11 {
  width: 100px;
  height: 100px;
  background: orange;
  float: left;
  position: absolute;
  top: 30%;
  right: 20%;
}
.box1213Wrap {
  width: 100%;
  height: 300px;
  background: pink;
  position: relative;
}
.box1213Block {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.box1213Block::after {
  content: ""
}
.box12 {
  width: 100px;
  height: 100%;
  background: lime;
  float: left;
}
.box13 {
  width: 100px;
  height: 100%;
  background: green;
  float: left;
}
.box14 {
  width: 100%;
  height: 200px;
  background: black;
}

/*--Flexbox①--*/
.container {
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.container p {
  width: 100px;
  height: 100px;
  background: red;
  margin: 0 10px;
}

/*--Flexbox①--*/
.container2 {
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
}
.container2 p {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}
.container2 p:nth-of-type(1) {
  background: red;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.container2 p:nth-of-type(2) {
  background: blue;
  flex-basis: 50px;
  -ms-flex-preferred-size: 50px;
}
.container2 p:nth-of-type(3) {
  background: green;
  align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}
/* グリッドstart */
.container3 {
  background: #eee;
  display: grid;
  grid-template: repeat(3, 80px)/repeat(3, 80px);
}
.item1 {
  background: hsl(300,80%,30%);
}
.item2 {
  background: hsl(300,80%,40%);
}
.item3 {
  background: hsl(300,80%,50%);
}
.item4 {
  background: hsl(200,80%,30%);
}
.item5 {
  background: hsl(200,80%,40%);
}
.item6 {
  background: hsl(200,80%,50%);
}
.item7 {
  background: hsl(100,80%,30%);
}
.item8 {
  background: hsl(100,80%,40%);
}
.item9 {
  background: hsl(100,80%,50%);
}

.container4 {
  background: #eee;
  display: grid;
  grid-template: repeat(3, 80px)/repeat(auto-fill, 80px);
}
.item10 {
  background: hsl(300,80%,30%);
}
.item11 {
  background: hsl(300,80%,40%);
}
.item12 {
  background: hsl(300,80%,50%);
}
.item13 {
  background: hsl(200,80%,30%);
}
.item14 {
  background: hsl(200,80%,40%);
}
.item15 {
  background: hsl(200,80%,50%);
}
.item16 {
  background: hsl(100,80%,30%);
}
.item17 {
  background: hsl(100,80%,40%);
}
.item18 {
  background: hsl(100,80%,50%);
}

.container5 {
  background: #eee;
  display: grid;
  grid-template-rows: 50% 80px 80px;
  grid-template-columns: 50% 80px 80px;
}
.item19 {
  background: hsl(300,80%,30%);
}
.item20 {
  background: hsl(300,80%,40%);
}
.item21 {
  background: hsl(300,80%,50%);
}
.item22 {
  background: hsl(200,80%,30%);
}
.item23 {
  background: hsl(200,80%,40%);
}
.item24 {
  background: hsl(200,80%,50%);
}
.item25 {
  background: hsl(100,80%,30%);
}
.item26 {
  background: hsl(100,80%,40%);
}
.item27 {
  background: hsl(100,80%,50%);
}


.container6 {
  background: #eee;
  display: grid;
  grid-template-rows: 80px 80px 80px;/*行の高さ*/
  grid-template-columns: 100px 1fr 2fr;
  grid-gap: 10px;
}
.item30 {
  background: hsl(300,80%,30%);
}
.item31 {
  background: hsl(300,80%,40%);
}
.item32 {
  background: hsl(300,80%,50%);
}
.item33 {
  background: hsl(200,80%,30%);
}
.item34 {
  background: hsl(200,80%,40%);
}
.item35 {
  background: hsl(200,80%,50%);
}
.item36 {
  background: hsl(100,80%,30%);
}
.item37 {
  background: hsl(100,80%,40%);
}
.item38 {
  background: hsl(100,80%,50%);
}

.container7 {
  background: #eee;
  display: grid;
  grid-template-rows: 80px 80px 80px;/*行の高さ*/
  grid-template-columns: 80px 80px 80px;
  grid-gap: 10px;
}
.itemA {
  background: hsl(300,80%,30%);
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}
.itemB {
  background: hsl(300,80%,40%);
}
.itemC {
  background: hsl(300,80%,50%);
}
.itemD {
  background: hsl(200,80%,30%);
}
.itemE {
  background: hsl(200,80%,40%);
}
.itemF {
  background: hsl(200,80%,50%);
}
.itemG {
  background: hsl(100,80%,30%);
}
.itemH {
  background: hsl(100,80%,40%);
}
.itemI {
  background: hsl(100,80%,50%);
}